<%page expression_filter="h"/>
<%!
import json
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Sign in or Register")}</%block>

<%block name="js_extra">
<%static:require_module module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
var options = ${data | n, dump_js_escaped_json};
LogistrationFactory(options);
if ('newrelic' in window) {
newrelic.finished();
// Because of a New Relic bug, the finished() event doesn't show up
// in Insights, so we have to make a new PageAction that is basically
// the same thing. We still want newrelic.finished() for session
// traces though.
newrelic.addPageAction('xfinished');
}
</%static:require_module>

<%static:require_module module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
var options = ${data | n, dump_js_escaped_json};
LogistrationFactory(options);
if ('newrelic' in window) {
newrelic.finished();
// Because of a New Relic bug, the finished() event doesn't show up
// in Insights, so we have to make a new PageAction that is basically
// the same thing. We still want newrelic.finished() for session
// traces though.
newrelic.addPageAction('xfinished');
}
</%static:require_module>

% if configuration_helpers.get_value('DISPLAY_TOS_IN_MODAL_ON_REGISTRATION_PAGE', False):
<script type="text/javascript" src="${static.url('js/student_account/tos_modal.js')}"></script>
% endif
</%block>

<%block name="header_extras">
% for template_name in ["account", "access", "form_field", "login", "register", "institution_login", "institution_register", "password_reset", "hinted_login"]:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="student_account/${template_name}.underscore" />
</script>
% endfor
</%block>
<div class="section-bkg-wrapper">
    <main id="main" aria-label="Content" tabindex="-1">
        <div id="content-container" class="login-register-content">
            % if enable_enterprise_sidebar:
            <%include file="enterprise_sidebar.html" />
            <%
            border_class = 'border-left'
            %>
            % else:
            <%
            border_class = ''
            %>
            % endif
            <div id="login-and-registration-container" class="login-register ${border_class}"></div>
        </div>
    </main>
</div>

<script>
    function selectToRadios() {
        console.log('selectToRadios called')
        const scales = [
            'anxiety',
            'big5_',
            'cog',
            'efficacy',
            'meta_cog',
            'mnmgt_int',
            'proc',
        ];

        const likert5 = [
            ' ',
            'Disagree<br>1',
            '2',
            '3',
            '4',
            'Agree<br>5',
            'No answer',
        ];

        const likert7 = [
            ' ',
            'Not at all true of me<br>1',
            '2',
            '3',
            '4',
            '5',
            '6',
            'Very true of me<br>7',
            'No answer',
        ];

        const explanations = {
            'beforeall': jQuery('<p class="survey_text" id="ask_survey">With this course, we are conducting a study to improve systematically and data-based the quality of teaching. The aim is to increase learning success, reduce failure rates and to ensure that as many students as possible invest their time spent on learning wisely. In order to develop improvements that are as accurate as possible and tailored to the students, we kindly ask you to fill in the following questions covering individual characteristics relevant to learning. <br>It takes about 8-10 minutes to complete the questions. The questions will be recorded anonymously and only serve as study purpose (i.e., improving the learning platform). Responding to the questions has no influence on your grading. There are no right or wrong answers. Of course, responding is voluntary and items can be marked with "no answer".</p>'),
            'anxiety': jQuery('<div id="gqq" style="margin-top:20px;"><h3>Questions on Learning Behavior</h3></div><p class="survey_text">The following questions ask about your motivation for and attitudes about this course. <br>Please rate each statement in terms of how much it applies to you. You can grade your answers from (1) "not all all true of me" to (7) "very true of me".</p>'),
            'meta_cog': jQuery('<p class="survey_text">The following questions ask about your learning strategies and study skills for this course. <br>Please rate each statement in terms of how much it applies to you. You can grade your answers from (1) "not all all true of me" to (7) "very true of me".</p>'),
            'proc': jQuery('<p class="survey_text">The following questions assess your habits and routines as a student. Please answer the following as they apply to yourself. You can grade your answers from (1) "Disagree" to (5) "Agree".</p>'),
            'big5_': jQuery('<p class="survey_text" style="margin-top:10px;">To what extent do the following statements apply to you?</p>')
        }

        jQuery('.required-fields').after('<div id="eesys_custom_form"></div>')
        jQuery('#eesys_custom_form').append(explanations['beforeall']);

        scales.forEach(s => {

            // create a table element to hold all the radio sets
            var table = jQuery('<!-- Table for ' + s + ' --><table class="eesys-likert" id="eesys-matrix-'+s+'"></table><!-- /Table for ' + s + ' -->');

            // add row with numbers based on number of radios in the table
            var numCols = jQuery('select#register-scale_' + s + '1 option').length;
            var numRow = jQuery('<tr></tr>');

            for (var i = 0; i < numCols; i++) {
                var numCell = jQuery('<th>' + i + '</th>');

                if (numCols === 7) {
                    numCell = jQuery('<th>' + likert5[i] + '</th>');
                }

                if (numCols === 9) {
                    numCell = jQuery('<th>' + likert7[i] + '</th>');
                }

                numRow.append(numCell);
            }

            table.append(jQuery('<!-- number of cols: '+numCols+' -->'))
            table.append(numRow);

            // iterate over each select element with a class of "select-scale_"
            jQuery('div[class*="select-scale_' + s + '"] select').each(function () {

                var selectField = jQuery(this);

                // hide the select element
                jQuery(this).parent().hide();

                // create a row element for the label and radio buttons
                var row = jQuery('<tr></tr>');

                // get the error message
                var errorMessage = jQuery(this).data('errormsg-required');
                errorMessage = errorMessage.replace('Please answer the question: ', '');

                // create a cell element for the error message
                var errorCell = jQuery('<td class="error-message">' + errorMessage + '</td>');
                row.append(errorCell);

                // create a cell element for each radio button
                jQuery(this).find('option').each(function () {
                    var optionValue = jQuery(this).val();
                    if (optionValue !== '') {
                        var radioButtonCell = jQuery('<td></td>');
                        var radioButton = jQuery('<input type="radio" name="' + jQuery(this).parent().attr('name') + '" value="' + optionValue + '">');
                        radioButtonCell.append(radioButton);
                        row.append(radioButtonCell);
                    }
                });

                // append the row to the table
                table.append(row);
            });

            // insert the table after the label of the first select element
            //jQuery('#eesys_custom_form').append('<h2>Fragenblock</h2>');
            if (s in explanations) {
                jQuery('#eesys_custom_form').append(explanations[s]);
            }
            jQuery('#eesys_custom_form').append(table);

        });

        // Attach a change event listener to all radio buttons with the name "radioGroup"
        $('input[type="radio"]').change(function() {
            // Get the value of the selected radio button
            var selectedValue = $(this).val();

            // Find the input element with the same ID as the radio button's name attribute
            var inputToUpdate = $('#register-' + $(this).attr('name'));

            // Update the value of the input element
            inputToUpdate.val(selectedValue);
        });

        // After the fact, move tr's around

        $("#eesys-matrix-efficacy").hide(); // Hide old table
        $("#eesys-matrix-efficacy tr").first().remove(); // remove the header row
        $("#eesys-matrix-anxiety tbody").append($("#eesys-matrix-efficacy tr")); // move remaining rows to new table

        $("#eesys-matrix-mnmgt_int").hide();
        $("#eesys-matrix-mnmgt_int tr").first().remove();
        $("#eesys-matrix-meta_cog tbody").append($("#eesys-matrix-mnmgt_int tr"));

        $("#eesys-matrix-cog").hide();
        $("#eesys-matrix-cog tr").first().remove();
        $("#eesys-matrix-meta_cog tbody").append($("#eesys-matrix-cog tr"));

        // Move grade goals to the bottom

        $('#eesys_custom_form').append($('<div id="eesys_final_questions_wrapper" class="question-block"></div>'));
        $('#eesys_final_questions_wrapper').append($("div.form-field.select-scale_gradegoal1"));
        $('#eesys_final_questions_wrapper').append($("div.form-field.select-scale_gradegoal2"));

        // Add checkbox for eesys consent
        $('#eesys_custom_form').append($('<div id="eesys_consent_wrapper" class="question-block"></div>'));
        var consentCheckbox = `<div class="form-field">
<input type="checkbox" id="checkbox-eesys_consent" class="input-block checkbox error" checked>
<label for="checkbox-eesys_consent">
<span class="label-text">I agree that data of my learning behavior may be used to improve the EESYS courses.</span>
</label>
</span>
</div>`;
        $('#eesys_consent_wrapper').append($(consentCheckbox));

        $("#checkbox-eesys_consent").change(function() {
            var selectElement = $("#register-consent");
            if ($(this).is(":checked")) {
                selectElement.val("Yes");
            } else {
                selectElement.val("No");
            }
        });
        $("#register-consent").val("Yes");
        $('.form-field.select-consent').hide();

        // hide optional fields checkbox
        $('.form-field.checkbox-optional_fields_toggle').hide();

        // Accept TOS and hide
        $('#register-terms_of_service').click();
        $('.form-field.checkbox-terms_of_service').hide();


    }

    const registerFormatTimeout = setTimeout(selectToRadios, 1000);
</script>

<script>
    // debug functions
    function fillMatrixRandomly() {
        var rows = $('#eesys_custom_form table tr');

        // Iterate over each row
        rows.each(function (index, row) {
            // Find all radio buttons within the current row
            var radiosInRow = $(row).find('input[type="radio"]');

            // Generate a random index to select a radio button
            var randomIndex = Math.floor(Math.random() * radiosInRow.length);

            // Click the randomly selected radio button
            $(radiosInRow[randomIndex]).prop('checked', true).trigger('change');
        });
    }
</script>

<style>
    header.global-header {
        position: absolute;
    }

    .required-fields {
        border: 1px solid rgba(6,86,131, .05);
        padding: 5px;
        background-color: rgba(6,86,131, .05);
    }

    @media screen and (min-width: 900px) {
        #login-and-registration-container {
            max-width: 60%;
        }
        section#register-anchor {
            max-width: 2000px;
        }
    }

    .required-fields select.input-inline, .question-block select.input-inline {
        background: white;
    }

    label.focus-out {
        position: relative !important;
        padding-left: 0 !important;
    }

    #eesys_custom_form h3 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 15pt;
        letter-spacing: normal;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #065683 !important;
    }

    table.eesys-likert {
        table-layout: fixed;
        width: 100%;
        color: rgb(64,64,64);
        margin-top: 1em;
        margin-bottom: 4em;
    }

    .eesys-likert tr:first-child {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 10;
    }

    .eesys-likert tr:nth-child(even) {
        background-color: rgb(246, 248, 249);
    }

    .eesys-likert tr:nth-child(odd) {
        background-color: rgb(228, 235, 241);
    }

    .eesys-likert th {
        font-weight: normal;
        vertical-align: bottom;
        line-height: 1.5;
        padding: .5em;
        border-left: 1px solid white;
    }

    .eesys-likert td {
        vertical-align: middle;
        padding: .5em;
        text-align: center;
        border-left: 1px solid white;
    }

    .eesys-likert td:first-child, .eesys-likert th:first-child {
        text-align: left;
        width: 28%;
        line-height: 1.8;
        border: none;
    }

    .eesys-likert td:last-child, .eesys-likert th:last-child {
        border-left: 1px solid rgba(3, 33, 51, 0.25);
    }

    p.survey_text {
        color: #065683;
        font-style: normal;
        opacity: 0.75;
        margin-top: 20px;
        letter-spacing: normal;
        font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        line-height: 1.8em;
    }

    .question-block {
        border: 1px solid rgba(6,86,131, .05);
        padding: 5px;
        background-color: rgba(6,86,131, .05);
        margin-bottom: 4em;
    }
</style>
