<%page expression_filter="h"/>
<%!
import json
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Sign in or Register")}</%block>

<%block name="js_extra">
<%static:require_module module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
var options = ${data | n, dump_js_escaped_json};
LogistrationFactory(options);
if ('newrelic' in window) {
newrelic.finished();
// Because of a New Relic bug, the finished() event doesn't show up
// in Insights, so we have to make a new PageAction that is basically
// the same thing. We still want newrelic.finished() for session
// traces though.
newrelic.addPageAction('xfinished');
}
</%static:require_module>

<%static:require_module module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
var options = ${data | n, dump_js_escaped_json};
LogistrationFactory(options);
if ('newrelic' in window) {
newrelic.finished();
// Because of a New Relic bug, the finished() event doesn't show up
// in Insights, so we have to make a new PageAction that is basically
// the same thing. We still want newrelic.finished() for session
// traces though.
newrelic.addPageAction('xfinished');
}
</%static:require_module>

% if configuration_helpers.get_value('DISPLAY_TOS_IN_MODAL_ON_REGISTRATION_PAGE', False):
<script type="text/javascript" src="${static.url('js/student_account/tos_modal.js')}"></script>
% endif
</%block>

<%block name="header_extras">
% for template_name in ["account", "access", "form_field", "login", "register", "institution_login", "institution_register", "password_reset", "hinted_login"]:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="student_account/${template_name}.underscore" />
</script>
% endfor
</%block>
<div class="section-bkg-wrapper">
    <main id="main" aria-label="Content" tabindex="-1">
        <div id="content-container" class="login-register-content">
            % if enable_enterprise_sidebar:
            <%include file="enterprise_sidebar.html" />
            <%
            border_class = 'border-left'
            %>
            % else:
            <%
            border_class = ''
            %>
            % endif
            <div id="login-and-registration-container" class="login-register ${border_class}"></div>
        </div>
    </main>
</div>

<script>
    console.log('test1')
    jQuery( document ).ready(function() {
        console.log('test2')
        var scales = [
            'anxiety',
            'big5',
            'cog',
            'efficacy',
            'meta_cog',
            'mnmgt_int',
            'proc',
        ];

        scales.forEach(s => {

            // create a table element to hold all the radio sets
            var table = jQuery('<table></table>');

            // iterate over each select element with a class of "select-scale_"
            jQuery('div[class*="select-scale_' + s + '"] select').each(function () {

                var selectField = jQuery(this);

                // hide the select element
                jQuery(this).parent().hide();

                // create a row element for the label and radio buttons
                var row = jQuery('<tr></tr>');

                // get the error message
                var errorMessage = jQuery(this).data('errormsg-required');
                errorMessage = errorMessage.replace('Please answer the question: ', '');

                // create a cell element for the error message
                var errorCell = jQuery('<td class="error-message">' + errorMessage + '</td>');
                row.append(errorCell);

                // create a cell element for each radio button
                jQuery(this).find('option').each(function () {
                    var optionValue = jQuery(this).val();
                    if (optionValue !== '') {
                        var radioButtonCell = jQuery('<td></td>');
                        var radioButton = jQuery('<input type="radio" name="' + jQuery(this).parent().attr('name') + '" value="' + optionValue + '">');
                        radioButtonCell.append(radioButton);
                        row.append(radioButtonCell);
                    }
                });

                // append the row to the table
                table.append(row);

                // listen for changes to the radio buttons
                row.find('input[type="radio"]').change(function () {
                    // get the value of the selected radio button
                    var selectedValue = jQuery(this).val();

                    // set the value of the corresponding select element
                    selectField.val(selectedValue);
                });
            });

            // insert the table after the label of the first select element
            jQuery('.required-fields').append('<h2>Fragenblock</h2>').append(table).append('<br><br>');

        });

    });

</script>

<style>
    label.focus-out {
        position: relative !important;
        padding-left: 0px !important;
    }
</style>
