<%page expression_filter="h"/>
<%!
import json
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Sign in or Register")}</%block>

<%block name="js_extra">
<%static:require_module module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
var options = ${data | n, dump_js_escaped_json};
LogistrationFactory(options);
if ('newrelic' in window) {
newrelic.finished();
// Because of a New Relic bug, the finished() event doesn't show up
// in Insights, so we have to make a new PageAction that is basically
// the same thing. We still want newrelic.finished() for session
// traces though.
newrelic.addPageAction('xfinished');
}
</%static:require_module>

<%static:require_module module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
var options = ${data | n, dump_js_escaped_json};
LogistrationFactory(options);
if ('newrelic' in window) {
newrelic.finished();
// Because of a New Relic bug, the finished() event doesn't show up
// in Insights, so we have to make a new PageAction that is basically
// the same thing. We still want newrelic.finished() for session
// traces though.
newrelic.addPageAction('xfinished');
}
</%static:require_module>

% if configuration_helpers.get_value('DISPLAY_TOS_IN_MODAL_ON_REGISTRATION_PAGE', False):
<script type="text/javascript" src="${static.url('js/student_account/tos_modal.js')}"></script>
% endif
</%block>

<%block name="header_extras">
% for template_name in ["account", "access", "form_field", "login", "register", "institution_login", "institution_register", "password_reset", "hinted_login"]:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="student_account/${template_name}.underscore" />
</script>
% endfor
</%block>
<div class="section-bkg-wrapper">
    <main id="main" aria-label="Content" tabindex="-1">
        <div id="content-container" class="login-register-content">
            % if enable_enterprise_sidebar:
            <%include file="enterprise_sidebar.html" />
            <%
            border_class = 'border-left'
            %>
            % else:
            <%
            border_class = ''
            %>
            % endif
            <div id="login-and-registration-container" class="login-register ${border_class}"></div>
        </div>
    </main>
</div>

<script>

   $(window).on('load', function(){
       if (window.location.pathname.split("/").pop() == "register"){

             var urlParams = new URLSearchParams(window.location.search); //get all parameters 
             var foo = urlParams.get('foo'); //extract the foo parameter - this will return NULL if foo isn't a parameter
           
             if((foo == undefined) && Date.now()<1697616000000){
              //alert("Registration closed. Opens after first lecture." + window.location.hash);
              window.location.replace("/");
              }

        }
        $("#register").hide();
        setTimeout(function(){$("#register").fadeIn(800, callback=completed_fade);},300);
   });

   function completed_fade(){
        $("#register :input").prop("disabled", false);
   }
    
        function sortTable(identifier) {
  //get the parent table for convenience
  let table = document.getElementById(identifier);

  //1. get all rows
  let rowsCollection = table.querySelectorAll("tr");

  //2. convert to array
  let rows = Array.from(rowsCollection)
    .slice(1); //skip the header row

  //3. shuffle
  shuffleArray(rows);

  //4. add back to the DOM
 // for (const row of rows) {
 //   row.style.setProperty("background-color","rgba(6,86,131, .15)");
 //   table.appendChild(row);
 // }
  for (var i = 0; i < rows.length; i++) {
    row = rows[i]; 
    //if((i % 2) == 0){
    //  row.style.setProperty("background-color","rgba(6,86,131, .15)");
    //}
    table.appendChild(row);
 }

}

function shuffleArray(array) {
  for (var i = array.length - 1; i > 0; i--) {
    var j = Math.floor(Math.random() * (i + 1));
    var temp = array[i];
    array[i] = array[j];
    array[j] = temp;
  }
}
    function selectToRadios() {
        console.log('selectToRadios called')
        const scales = [
            'anxiety',
            'cog',
            'efficacy',
            'meta_cog',
            'mnmgt_int',
            'proc',
            'big5_',
        ];

        const likert5 = [
            ' ',
            'Disagree<br>1',
            '2',
            '3',
            '4',
            'Agree<br>5',
            'No answer',
        ];

        const likert5_big5 = [
            ' ',
            'Does not apply at all<br>1',
            'Does not apply<br>2',
            'Neutral/So-so<br>3',
            'Does apply<br>4',
            'Does apply entirely<br>5',
            'No answer',
        ];

        const likert7 = [
            ' ',
            'Not at all true of me<br>1',
            '2',
            '3',
            '4',
            '5',
            '6',
            'Very true of me<br>7',
            'No answer',
        ];

        const explanations = {
            'beforeall': jQuery('<p class="survey_text" id="ask_survey">With this course, we are conducting a study to improve systematically and data-based the quality of teaching. The aim is to increase learning success, reduce failure rates and to ensure that as many students as possible invest their time spent on learning wisely. In order to develop improvements that are as accurate as possible and tailored to the students, we kindly ask you to fill in the following questions covering individual characteristics relevant to learning. <br>It takes about 8-10 minutes to complete the questions. The questions will be recorded anonymously and only serve as study purpose (i.e., improving the learning platform). Responding to the questions has no influence on your grading. There are no right or wrong answers. Of course, responding is voluntary and items can be marked with "no answer".</p>'),
            'anxiety': jQuery('<div id="gqq" style="margin-top:20px;"><h3>Questions on Learning Behavior</h3></div><p class="survey_text">The following questions ask about your motivation for and attitudes about this course. <br>Please rate each statement in terms of how much it applies to you. You can grade your answers from (1) "not all all true of me" to (7) "very true of me".</p>'),
            'meta_cog': jQuery('<p class="survey_text">The following questions ask about your learning strategies and study skills for this course. <br>Please rate each statement in terms of how much it applies to you. You can grade your answers from (1) "not all all true of me" to (7) "very true of me".</p>'),
            'proc': jQuery('<p class="survey_text">The following questions assess your habits and routines as a student. Please answer the following as they apply to yourself. You can grade your answers from (1) "Disagree" to (5) "Agree".</p>'),
            'big5_': jQuery('<p class="survey_text" style="margin-top:10px;">To what extent do the following statements apply to you?</p>')
        }

        jQuery('.required-fields').after('<div id="eesys_custom_form"></div>')
        jQuery('#eesys_custom_form').append(explanations['beforeall']);

        scales.forEach(s => {

            // create a table element to hold all the radio sets
            var table = jQuery('<!-- Table for ' + s + ' --><table class="eesys-likert" id="eesys-matrix-'+s+'"></table><!-- /Table for ' + s + ' -->');

            // add row with numbers based on number of radios in the table
            var numCols = jQuery('select#register-scale_' + s + '1 option').length;
            var numRow = jQuery('<tr></tr>');

            for (var i = 0; i < numCols; i++) {
                var numCell = jQuery('<th>' + i + '</th>');

                if (numCols === 7 & s != "big5_") {
                    numCell = jQuery('<th>' + likert5[i] + '</th>');
                }
                
                if (numCols === 7 & s == "big5_") {
                    numCell = jQuery('<th>' + likert5_big5[i] + '</th>');
                }
                

                if (numCols === 9) {
                    numCell = jQuery('<th>' + likert7[i] + '</th>');
                }

                numRow.append(numCell);
            }

            table.append(jQuery('<!-- number of cols: '+numCols+' -->'))
            table.append(numRow);

            // iterate over each select element with a class of "select-scale_"
            jQuery('div[class*="select-scale_' + s + '"] select').each(function () {

                var selectField = jQuery(this);

                // hide the select element
                jQuery(this).parent().hide();

                // create a row element for the label and radio buttons
                var row = jQuery('<tr></tr>');

                // get the error message
                var errorMessage = jQuery(this).data('errormsg-required');
                errorMessage = errorMessage.replace('Please answer the question: ', '');

                // create a cell element for the error message
                var errorCell = jQuery('<td class="error-message">' + errorMessage + '</td>');
                row.append(errorCell);

                // create a cell element for each radio button
                jQuery(this).find('option').each(function () {
                    var optionValue = jQuery(this).val();
                    if (optionValue !== '') {
                        var radioButtonCell = jQuery('<td></td>');
                        var radioButton = jQuery('<input type="radio" name="' + jQuery(this).parent().attr('name') + '" value="' + optionValue + '">');
                        radioButtonCell.append(radioButton);
                        row.append(radioButtonCell);
                    }
                });

                // append the row to the table
                table.append(row);
            });

            // insert the table after the label of the first select element
            //jQuery('#eesys_custom_form').append('<h2>Fragenblock</h2>');
            if (s in explanations) {
                jQuery('#eesys_custom_form').append(explanations[s]);
            }
            jQuery('#eesys_custom_form').append(table);

        });

        // Attach a change event listener to all radio buttons with the name "radioGroup"
        $('input[type="radio"]').change(function() {
            // Get the value of the selected radio button
            var selectedValue = $(this).val();

            // Find the input element with the same ID as the radio button's name attribute
            var inputToUpdate = $('#register-' + $(this).attr('name'));

            // Update the value of the input element
            inputToUpdate.val(selectedValue);
        });

        // After the fact, move tr's around

        $("#eesys-matrix-efficacy").hide(); // Hide old table
        $("#eesys-matrix-efficacy tr").first().remove(); // remove the header row
        $("#eesys-matrix-anxiety tbody").append($("#eesys-matrix-efficacy tr")); // move remaining rows to new table

        $("#eesys-matrix-mnmgt_int").hide();
        $("#eesys-matrix-mnmgt_int tr").first().remove();
        $("#eesys-matrix-meta_cog tbody").append($("#eesys-matrix-mnmgt_int tr"));

        $("#eesys-matrix-cog").hide();
        $("#eesys-matrix-cog tr").first().remove();
        $("#eesys-matrix-meta_cog tbody").append($("#eesys-matrix-cog tr"));

        // Move grade goals to the bottom

        $('#eesys_custom_form').append($('<div id="eesys_final_questions_wrapper" class="question-block"></div>'));
        $('#eesys_final_questions_wrapper').append($("div.form-field.select-scale_gradegoal1"));
        $('#eesys_final_questions_wrapper').append($("div.form-field.select-scale_gradegoal2"));

        // Add checkbox for eesys consent
        $('#eesys_custom_form').append($('<div id="eesys_consent_wrapper" class="question-block"></div>'));
        var consentCheckbox = `<div class="form-field">
<input type="checkbox" id="checkbox-eesys_consent" class="input-block checkbox error" checked>
<label for="checkbox-eesys_consent">
<span class="label-text">I agree that data of my learning behavior may be used to improve the EESYS courses.</span>
</label>
</span>
<div class="toggle-form resize-form-full" style="margin-top:10px;font-size:10pt;max-width:100% !important;">
    <span class="text resize-foarm-half" id="pp_consnt">By creating an account, you acknowledge that the EESYS group processes your personal data in accordance with the <a href="/privacy" target="_blank">Privacy Policy</a>.</span>
</div>
</div>`;
        $('#eesys_consent_wrapper').append($(consentCheckbox));

        $("#checkbox-eesys_consent").change(function() {
            var selectElement = $("#register-consent");
            if ($(this).is(":checked")) {
                selectElement.val("Yes");
            } else {
                selectElement.val("No");
            }
        });

        
        $(".text-name").hide()
        $("#register-name").val("Anonymous");
        
        $(".select-current_semester_of_study").insertBefore($(".select-study_programme"));
        $(".text-your_age").insertAfter($(".select-enhanced_gender"));
        $(".select-study_programme").insertBefore($(".select-current_semester_of_study"));

        $('#eesys-matrix-big5_').after("<div><p style='margin-top: 100px;' class='survey_text'>Please rate the following two questions based on your grade goal for this semester. <br>Choose the grade goal that best describes your expectation for this course's final exam.</p></div>");
        $("#register-consent").val("Yes");
        $('.form-field.select-consent').hide();

        // hide optional fields checkbox
        $('.form-field.checkbox-optional_fields_toggle').hide();

        // Accept TOS and hide
        $('#register-terms_of_service').click();
        $('.form-field.checkbox-terms_of_service').hide();

        $("#register-email").val("@stud.uni-bamberg.de");
        

        sortTable("eesys-matrix-anxiety");
        sortTable("eesys-matrix-meta_cog");
        sortTable("eesys-matrix-big5_");
        sortTable("eesys-matrix-meta_cog");


        function ConfirmDialog(message) {
    $('<div></div>').appendTo('body').html('<div style="font-size: 1rem;line-height: 1.4em;font-family: \"Open Sans\",\"Helvetica Neue\",Helvetica,Arial,sans-serif;">' + message + '</div>').dialog({
        modal: true,
        title: 'Are you sure?',
        zIndex: 10000,
        autoOpen: true,
        heigth: "200px",
        width: "400px",
        resizable: false,
        buttons: {
          Yes: function() {
            $('#checkbox-eesys_consent').prop( "checked", false );
            dialog_count = 1;
            $(this).dialog("close");
          },
          No: function() {
            $('#checkbox-eesys_consent').prop( "checked", true);
            dialog_count = 1;  
      $(this).dialog("close");
          }
        },
        close: function(event, ui) {
          $(this).remove();
        }
      });
   }

   $("#register-your_age").prop("min", 16);
   $("#register-your_age").prop("max", 99);
   $("#register-your_age").prop("maxlength", 2);


   $('#register-your_age').on('change', function() {
       var _this = $(this);
       var my_min = parseInt(_this.attr('min')) || 0; // if min attribute is not defined, 1 is default
       var my_max = parseInt(_this.attr('max')) || 99; // if max attribute is not defined, 100 is default
       var my_val = parseInt(_this.val()) || (""); // if input char is not a number the value will be (min - 1) so first condition will be true
       if(my_val < my_min) {
         _this.val("" );
         alert("The minimum age is 16.");
       }
       if(my_val > my_max) {
         _this.val( my_max );
        }
    //      if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);
    });



  
  if (typeof jQuery.ui == 'undefined') {
        var headTag = document.getElementsByTagName("head")[0];
        var jqTag = document.createElement('script');
        jqTag.type = 'text/javascript';
        jqTag.src = 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js';
        headTag.appendChild(jqTag);
        if (!$("link[href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css']").length){
            $('<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet">').appendTo("head");
        }
    }
    dialog_count = 0;



    $('#checkbox-eesys_consent').on('click',function(e) {
        var $checkbox = $(this);
        if(dialog_count == 0){
            e.preventDefault();
            e.stopPropagation();
            ConfirmDialog('We really rely on your support for improving the EESYS courses. Providing us with insights into your learning behavior will help us big time.<br /> Do you wish to opt out?');
        }
    });
        
    }

    const registerFormatTimeout = setTimeout(selectToRadios, 1000);


    init_reg = function(){
    console.log("init");
    $(document).ready(function() {
    $('button').click(function(event) {
        send_reg();

        event.preventDefault();
    });


    send_reg = function(){
        var valuesDict = {};
    
        $('[id^="register"]').each(function() {
            var id = $(this).attr('id');
            if (!id.endsWith('msg') && !id.endsWith('label')  && !id.endsWith('icon')&& !id.endsWith('error')) {
                var fieldName = id;
                var value = $(this).val();
                valuesDict[fieldName] = value;
            }
        });
        
        $.ajax({
                    type: "POST",
                    url: "/eesys-logger/registration",
                    data: JSON.stringify(valuesDict),
                    contentType: 'application/json', // Set the content type for HTML encoded data
                    success: function(response) {
                        // Handle the response from the server
                      //  console.log("Server Response:", response);
                    },
                    error: function(xhr, status, error) {
                        // Handle errors here
                        //console.error(error);
                    }
                });    
    }

});

           }

    
    const registerAjax = setTimeout(init_reg, 3000);

    
</script>

<script>
    // debug functions
    function fillMatrixRandomly() {
        var rows = $('#eesys_custom_form table tr');

        // Iterate over each row
        rows.each(function (index, row) {
            // Find all radio buttons within the current row
            var radiosInRow = $(row).find('input[type="radio"]');

            // Generate a random index to select a radio button
            var randomIndex = Math.floor(Math.random() * radiosInRow.length);

            // Click the randomly selected radio button
            $(radiosInRow[randomIndex]).prop('checked', true).trigger('change');
        });
    }
</script>

<style>
    header.global-header {
        position: absolute;
    }

    .required-fields {
        border: 1px solid rgba(6,86,131, .05);
        padding: 5px;
        background-color: rgba(6,86,131, .05);
    }

    @media screen and (min-width: 900px) {
        #login-and-registration-container {
            max-width: 60%;
        }
        section#register-anchor {
            max-width: 2000px;
        }
    }

    .required-fields select.input-inline, .question-block select.input-inline {
        background: white;
    }

    label.focus-out {
        position: relative !important;
        padding-left: 0 !important;
    }

    #eesys_custom_form h3 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 15pt;
        letter-spacing: normal;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #065683 !important;
    }

    table.eesys-likert {
        table-layout: fixed;
        width: 100%;
        color: rgb(64,64,64);
        margin-top: 1em;
        margin-bottom: 4em;
    }

    .eesys-likert tr:first-child {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 10;
    }

    .eesys-likert tr:nth-child(even) {
        background-color: rgb(246, 248, 249);
    }

    .eesys-likert tr:nth-child(odd) {
        background-color: rgb(228, 235, 241);
    }

    .eesys-likert th {
        font-weight: normal;
        vertical-align: bottom;
        line-height: 1.5;
        padding: .5em;
        border-left: 1px solid white;
    }

    .eesys-likert td {
        vertical-align: middle;
        padding: .5em;
        text-align: center;
        border-left: 1px solid white;
    }

    .eesys-likert td:first-child, .eesys-likert th:first-child {
        text-align: left;
        width: 28%;
        line-height: 1.8;
        border: none;
    }

    .eesys-likert td:last-child, .eesys-likert th:last-child {
        border-left: 1px solid rgba(3, 33, 51, 0.25);
    }

    p.survey_text {
        color: #065683;
        font-style: normal;
        opacity: 0.75;
        margin-top: 20px;
        letter-spacing: normal;
        font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        line-height: 1.8em;
    }

    .question-block {
        border: 1px solid rgba(6,86,131, .05);
        padding: 5px;
        background-color: rgba(6,86,131, .05);
        margin-bottom: 4em;
    }
</style>
