#register-course_how_many_students_studying, #register-more_time_on_course {
    display: inline;
}

.checkbox-optional_fields_toggle {
    display: none !important;
}

.select-importance_DAEI, .select-motivation_DAEI, .select-measure_self_set_goals, .select-measure_around_you {
    display: none !important;
}

.checkbox-consent {
    padding-bottom: 0px !important;
    margin-top: 20px !important;
}

.select-list_lang, .select-part_time_student, .select-bachelor_level_statistics, .select-master_level_statistics, .select-familiar_with_R, .select-importance_DAEI, .select-motivation_DAEI, .select-measure_self_set_goals, .select-measure_around_you, .text-more_time_on_course, .text-course_how_many_students_studying, .select-procrastinate {
    background-color: rgba(6, 86, 131, .05);
    padding-left: 5px;
    border-left: 1px solid rgba(6, 86, 131, .05);
    border-right: 1px solid rgba(6, 86, 131, .05);
}

.select-gender {
    width: 100% !important;
}

.select-measure_self_set_goals, .select-part_time_student {
    border-top: 1px solid rgba(6, 86, 131, .05);
}

#register-more_time_on_course, #register-course_how_many_students_studying, #register-your_age {
    width: 3em;
    border: none;
}

.text-course_how_many_students_studying {
    padding-bottom: 0px !important;
}

.select-familiar_with_R {
    padding-bottom: 10px !important;
}

#register-your_age {
    border: 1px solid #c8c8c8;
}

.select-motivation_DAEI, .select-procrastinate {
    border-bottom: 1px solid rgba(6, 86, 131, .05);
}

input[type="text"], textarea, select {
    background-color: #FFFFFF !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#register-importance_DAEI, label[for="register-importance_DAEI"], #register-motivation_DAEI, label[for="register-motivation_DAEI"], .select-procrastinate {
    display: none !important;
}


#register-list_zp1, label[for="register-list_zp1"], #register-list_zp2, label[for="register-list_zp2"], #register-list_zp3, label[for="register-list_zp3"], #register-list_kon1, label[for="register-list_kon1"], #register-list_kon2, label[for="register-list_kon2"], #register-list_kon3, label[for="register-list_kon3"], #register-list_reg1, label[for="register-list_reg1"], #register-list_reg2, label[for="register-list_reg2"], #register-list_reg3, label[for="register-list_reg3"] {
    display: none !important;
}

@media screen and (min-width: 600px) {

    .resize-form-half {
        max-width: 50% !important;
    }

    .resize-form-full {
        max-width: 100% !important;
    }

}

.select-list_zp1, .select-list_zp2, .select-list_zp3, .select-list_kon1, .select-list_kon2, .select-list_kon3, .select-list_reg1, .select-list_reg2, .select-list_reg3 {
    padding-bottom: 0px !important;
}


.notAnswerTab {
    border-left: 1px solid rgba(3, 33, 51, 0.25);
    padding: 0.5px !important;
}

#register-scale_efficacy1, label[for="register-scale_efficacy1"], .select-scale_efficacy1,
#register-scale_efficacy2, label[for="register-scale_efficacy2"], .select-scale_efficacy2,
#register-scale_efficacy3, label[for="register-scale_efficacy3"], .select-scale_efficacy3,
#register-scale_efficacy4, label[for="register-scale_efficacy4"], .select-scale_efficacy4,
#register-scale_efficacy5, label[for="register-scale_efficacy5"], .select-scale_efficacy5,
#register-scale_efficacy6, label[for="register-scale_efficacy6"], .select-scale_efficacy6,
#register-scale_efficacy7, label[for="register-scale_efficacy7"], .select-scale_efficacy7,
#register-scale_efficacy8, label[for="register-scale_efficacy8"], .select-scale_efficacy8,
#register-scale_efficacy9, label[for="register-scale_efficacy9"], .select-scale_efficacy9,
#register-scale_efficacy10, label[for="register-scale_efficacy10"], .select-scale_efficacy10,
#register-scale_efficacy11, label[for="register-scale_efficacy11"], .select-scale_efficacy11,
#register-scale_efficacy12, label[for="register-scale_efficacy12"], .select-scale_efficacy12 {
    display: none !important;
}

#register-scale_meta_cog1, label[for="register-scale_meta_cog1"], .select-scale_meta_cog1,
#register-scale_meta_cog2, label[for="register-scale_meta_cog2"], .select-scale_meta_cog2,
#register-scale_meta_cog3, label[for="register-scale_meta_cog3"], .select-scale_meta_cog3,
#register-scale_meta_cog4, label[for="register-scale_meta_cog4"], .select-scale_meta_cog4,
#register-scale_meta_cog5, label[for="register-scale_meta_cog5"], .select-scale_meta_cog5,
#register-scale_meta_cog6, label[for="register-scale_meta_cog6"], .select-scale_meta_cog6,
#register-scale_meta_cog7, label[for="register-scale_meta_cog7"], .select-scale_meta_cog7,
#register-scale_meta_cog8, label[for="register-scale_meta_cog8"], .select-scale_meta_cog8,
#register-scale_meta_cog9, label[for="register-scale_meta_cog9"], .select-scale_meta_cog9,
#register-scale_meta_cog10, label[for="register-scale_meta_cog10"], .select-scale_meta_cog10,
#register-scale_meta_cog11, label[for="register-scale_meta_cog11"], .select-scale_meta_cog11,
#register-scale_meta_cog12, label[for="register-scale_meta_cog12"], .select-scale_meta_cog12 {
    display: none !important;
}


.select-scale_mnmgt_int1, .select-scale_mnmgt_int2,
.select-scale_mnmgt_int3, .select-scale_mnmgt_int4,
.select-scale_mnmgt_int5, .select-scale_mnmgt_int6,
.select-scale_mnmgt_int7, .select-scale_mnmgt_int8,
.select-scale_mnmgt_int9, .select-scale_mnmgt_int10,
.select-scale_mnmgt_int11, .select-scale_mnmgt_int12 {
    display: none !important;
}


.select-scale_cog1, .select-scale_cog2,
.select-scale_cog3, .select-scale_cog4,
.select-scale_cog5, .select-scale_cog6,
.select-scale_cog7, .select-scale_cog8,
.select-scale_cog9, .select-scale_cog10,
.select-scale_cog11, .select-scale_cog12 {
    display: none !important;
}

.select-scale_proc1, .select-scale_proc2,
.select-scale_proc3, .select-scale_proc4,
.select-scale_proc5, .select-scale_proc6,
.select-scale_proc7, .select-scale_proc8,
.select-scale_proc9, .select-scale_proc10,
.select-scale_proc11, .select-scale_proc12 {
    display: none !important;
}

.select-scale_anxiety1, .select-scale_anxiety2,
.select-scale_anxiety3, .select-scale_anxiety4,
.select-scale_anxiety5 {
    display: none !important;
}


.select-scale_big5_1, .select-scale_big5_2 {
    display: none !important;
}

.select-part_time_student, #lb {
    display: none !important;
}

.select-list_lang {
    display: none !important;
}

#marker1 {
    border: 1px solid rgba(6, 86, 131, .05);
    padding: 5px;
    background-color: rgba(6, 86, 131, .05);
}

.radiogrid {
    border-collapse: collapse;
    font-style: normal;
    color: #000;
    opacity: 0.75;
    letter-spacing: normal;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8em !important;
}

.text-course_how_many_students_studying {
    padding-top: 30px !important;
}

.question_edx {
    line-height: 1.8em !important;
    text-align: left !important;
    vertical-align: middle !important;
}

.intro-table {
    background-color: rgba(6, 86, 131, .05);
    padding: 5px;
    margin-bottom: 100px;
    border-left: 1px solid rgba(6, 86, 131, .05);
    border-right: 1px solid rgba(6, 86, 131, .05);
}

.radiogrid td {
    font-weight: normal;
    padding: 0 2px 5px;
    line-height: 15px;
    vertical-align: middle;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
}

.radiogrid th {
    font-weight: normal;
    padding: 0 2px 5px;
    line-height: 15px;
    vertical-align: middle;
    text-align: center;
}

.label_edx {
    line-height: 25px !important;
    vertical-align: bottom !important;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
    /*To not have transparent background.*/
    background-color: rgba(239, 244, 248, 1);
}

.colt_edx {
    position: sticky;
    top: 0;
    z-index: 10;
}

.required-fields {
    border: 1px solid rgba(6, 86, 131, .05);
    padding: 5px;
    background-color: rgba(6, 86, 131, .05);
}

#ask_survey, #ask_survey2, .survey_text {
    color: #065683 !important;
    font-style: normal;
    opacity: 0.75;
    margin-top: 20px;
    letter-spacing: normal;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8em !important;
}

.intro-table {
    font-weight: bold;
    width: 100%;
    font-style: normal;
    opacity: 0.75;
    color: #000;
    margin-top: 20px;
    letter-spacing: normal;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8em !important;
}

.login-register-content h3 {
    margin-top: 30px !important;
    margin-bottom: 20px !important;
    font-size: 15pt !important;
    letter-spacing: normal;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #065683 !important;
}

label.focus-out {
    position: relative !important;
    padding-left: 0px !important;
}

label[for=register-motivation_DAEI] {
    margin-right: 10px;
}

#register-motivation_DAEI {
    margin-right: 15px;
}

.login-register {
    max-width: none !important;
}

.select-likert_test {
    display: none;
}

#register {
    display: none;
}

.ui-dialog-title {
    height: 20px;
}

#register-consent-optional-label {
    display: none;
}

#contact {
    display: none;
}

.home > header {
    background-color: #7d6d6b !important;
    background-image: -webkit-linear-gradient(#7d6d6b, #6b3631) !important;
    background-image: linear-gradient(#7d6d6b, #6b3631);
    background-size: cover;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.93), inset 0 -1px 5px 0 rgba(0, 0, 0, 0.1) !important;
    overflow: hidden;
    heigth: 40% !important;
    padding: 0;
}
