<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            Legal Notice
        </h1>
        <p>
            <!--   This page left intentionally blank. Feel free to add your own content. -->
        </p><h2>Responsible for the content of the web pages of the department for Information Systems, especially Energy Efficient Systems </h2>
        <p>Prof. Dr. Thorsten Staake<br>An der Weberei 5<br>96047 Bamberg<br>Telephone +49-951-863-2077 <br>Telefax <span id="OLK_SRC_BODY_SECTION">+49-951-863-2208</span><br>
            Email: eesys(at)uni-bamberg.de</p>
        <div class="ce-textpic ce-center ce-below"><div class="ce-bodytext"><p>Information pursuant to § 5 of the German Telemedia Act (TMG) and § 55 of the Interstate Broadcasting Agreement (RStV).
        </p><h2>Publisher</h2><p>The internet services and information of the University of Bamberg are published under the authority of the president of the University of Bamberg.
        </p><h2>Contact</h2><p>University of Bamberg<br>Kapuzinerstrasse 16<br>D-96045 Bamberg<br>Germany<br>Phone: +49 951 863-0<br>Fax: +49 951 863-1005<br>Email: post(at)uni-bamberg.de&nbsp; <br>Web: www.uni-bamberg.de
        </p><h2>Legal Structure</h2><p>The University of Bamberg is a public enterprise pursuant to Article 11 Section 1 Paragraph 1 of the Bavarian Higher Education Act. It administers its own affairs as an enterprise and public affairs as a state institution – Article 12 Section 1 of the Bavarian Higher Education Act.
        </p><h2>Authorised Representative</h2><p>The Chairman of the university board of management, University President Prof. Dr. Dr. habil. Godehard Ruppert, represents the University of Bamberg in legal affairs.
        </p><p>The responsible party, pursuant to § 5 of the German Telemedia Act and § 55 of the Interstate Broadcasting Agreement, is the university president. The creators of pages with separate legal notices or named authors are responsible for the content of such pages.
        </p><h2>Supervising Authority</h2><p>Bavarian State Ministry of Science and the Arts<br>Salvatorstraße 2<br>80333 München
        </p><p>Internet: <a href="https://www.stmwk.bayern.de" target="external">https://www.stmwk.bayern.de</a>&nbsp;
        </p><h2>Disclaimer</h2>
            <p>Die Zusammenstellung der Informationen auf dieser Website wurde von der Otto-Friedrich-Universität Bamberg mit größtmöglicher Sorgfalt vorgenommen. Dennoch kann keinerlei Gewähr für Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen und Daten übernommen werden. Haftungsansprüche gegen die Otto-Friedrich-Universität Bamberg oder die Autoren beziehungsweise Verantwortlichen dieser Website für Schäden materieller oder immaterieller Art, die auf gegebenenfalls fehlerhaften oder unvollständigen Informationen und Daten beruhen, sind, soweit nicht Vorsatz oder grobe Fahrlässigkeit vorliegt, ausgeschlossen.
            </p><p>Das Vorgesagte gilt auch für Informationen auf Websites, auf die mittels eines Hyperlinks verwiesen wird. Der Inhalt dieser Websites liegt vollständig außerhalb des Verantwortungsbereiches der Otto-Friedrich-Universität Bamberg, war aber zur Zeit der Verlinkung frei von illegalen Inhalten. Auf die Gestaltung der gelinkten Websites kann nicht Einfluss genommen werden. Für Schäden, die aus fehlerhaften oder unvollständigen Inhalten auf den mittels Link verwiesenen Websites resultieren, haften die Otto-Friedrich-Universität Bamberg und die Autoren beziehungsweise Verantwortlichen dieser Website nicht.
            </p><p>Alle auf dieser Website veröffentlichten Texte, Bilder und Grafiken unterliegen dem Urheberrecht und anderen Gesetzen zum Schutz des geistigen Eigentums. Das Copyright für die von der Otto-Friedrich-Universität Bamberg erstellten Objekte der Website liegt bei der Otto-Friedrich-Universität Bamberg. Auf der Website genannte und gegebenenfalls durch Dritte geschützte Marken- und Warenzeichen unterliegen ohne Einschränkung den Bestimmungen des jeweils geltenden Kennzeichenrechts und den Besitzrechten der jeweils eingetragenen Eigentümer.
            </p><p>Alle aus dieser Website entstehenden Rechtsstreitigkeiten unterliegen ausschließlich deutschem Recht. <br><br><a href="/privacy" class="intern">Datenschutzerklärung</a></p><p>__________________________
            </p><p>*) Telemediengesetz (<a href="https://www.gesetze-im-internet.de/tmg/" target="external">TMG</a>)
            </p><p>**) Staatsvertrag für Rundfunk und Telemedien (Rundfunkstaatsvertrag – RStV)
            </p><p>***) Bayerisches Hochschulgesetz (<a href="http://www.gesetze-bayern.de/Content/Document/BayHSchG" target="external">BayHSchG</a>)
            </p><p>Kapuzinerstraße 16
            </p><p>D-96047 Bamberg
            </p><p>Phone: +49 951 863-0
            </p><p>Email: post(at)uni-bamberg.de
            </p>
        </div></div></section>
</main>
